.bg-dark {
  background-color: #1b1f23 !important;
}

a {
  color: #fff !important;
  font-family: 'Odibee Sans', cursive;
  font-size: 24px;
  padding: 8px;
}

a:hover {
  background-color: #343a40 !important;
  border-radius: 20% 0px 0px;
  color: #eae1e1 !important;
  cursor: pointer;
}

.navbar {
  padding-bottom: 0px;
}

.navbar-brand {
  font-family: 'Odibee Sans', cursive;
  font-size: 28px;
}

.container {
  margin-top: 8%;
  width: 65%;
}